
<h2>
  table de produits rangés par catégorie
</h2>
<p *ngIf="products">
  {{ products.length }} produits
</p>
<ul>
  <li>
    catégorie
    <ul>
      <li>
        produit
        <app-product></app-product>
      </li>
    </ul>
  </li>
</ul>
